<h1>Bookmarks manager</h1>

<% @bookmarks.each do |item| %>

<li>
ID: [<%=item.id%>] <a href='<%=item.url%>'><%=item.title%></a>
</li>


<form action="/bookmarks/<%= item.id %>" method="post">
  <input type='hidden' name='_method' value='DELETE'>
  <input type="submit" value="Delete <%=item.title%>">
</form>

</br> 
<% end %>

<h3>Add a new bookmark?</h3>

<form action='/add' method='post'>
  Url: <input type='text' name='url'>
  Title: <input type='text' name='title'>
  <input type='submit' value='submit'>
</form>




